<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Alcohol Drive
        </ion-title>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="cog-outline" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid class="root">
        <div>

            <div style="display: flex; justify-content: center;">
                <ion-img style="width: 200px; height: 200px; transform: rotate(90deg);" src="./assets/usb.svg">
                </ion-img>
            </div>

            <div *ngIf="this.clickFlg" style="margin-top: 25px;">
                <ion-progress-bar type="indeterminate"></ion-progress-bar>
            </div>

            <div style="margin-top: 25px;">
                <ion-button color="primary" size="large" (click)="onClickConnectDevice()">
                    <h1>デバイスに接続する</h1>
                </ion-button>
            </div>

        </div>

    </ion-grid>


</ion-content>