<ion-header [translucent]="true" color="danger">
    <ion-toolbar>
        <ion-title>
            Alcohol Drive
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ng-container *ngIf="this.alcDriveResult.State === this.STATE_SCANNING">
        <alc-check-start></alc-check-start>
    </ng-container>

    <ng-container *ngIf="this.alcDriveResult.State === this.STATE_OK">
        <alc-check-result [user]=" this.user" [alcDriveResult]="this.alcDriveResult">
        </alc-check-result>
    </ng-container>


</ion-content>