<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alcohol Drive
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cog-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ng-container *ngFor="let user of this.userListObserver | async">
        <ion-col>
          <alc-user-card [user]="user" (click)="onClickUserCard(user)" [class.selected]="this.isSelected(user)">
          </alc-user-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <!-- センサー開始ボタン -->
  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="onClickAlcoholCheck()" [disabled]="this.selectedUser === undefined">
      <ion-icon name="beer-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- ユーザ追加ボタン -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button id="user-add-button" color="success">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- ユーザ追加モーダル -->
  <ion-modal #modal trigger="user-add-button" [swipeToClose]="true">
    <ng-template>
      <ion-content>
        <ion-header [translucent]="true">
          <ion-toolbar>
            <ion-title>
              ユーザ追加
            </ion-title>

            <ion-buttons slot="end">
              <ion-button (click)="onClickCloseModal(modal)">
                <ion-icon name="close" color="primary"></ion-icon>
              </ion-button>
            </ion-buttons>

          </ion-toolbar>
        </ion-header>



      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>